@mixin contents-max {
  max-width: 120rem;
}

@mixin flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-horizontal-center {
  display: flex;
  align-items: center;
}

@mixin primary-btn {
  background: linear-gradient(
    to right,
    $color-primary-medium,
    $color-primary-dark
  );
  color: $color-white;
  border: none;
  cursor: pointer;
}

.text-label {
  color: $color-primary-medium;
  font-weight: 900;
  line-height: 1;
  &.small {
    font-size: 4.4rem;
  }
  &.medium {
    font-size: 6rem;
  }
  &.large {
    font-size: 8.8rem;
  }
}

.text-main {
  margin-top: 2rem;
  color: $color-gray-dark;
  font-weight: 500;
  text-transform: uppercase;
  word-break: keep-all;
  letter-spacing: 0.5rem;

  &.small {
    font-size: 1.8rem;
  }
  &.medium {
    font-size: 2.4rem;
  }
}

.text-sub {
  margin-top: 2rem;
  color: $color-gray-medium;
  font-weight: 500;
  line-height: 1.6;
  white-space: pre-line;

  &.small {
    font-size: 1.6rem;
  }
  &.medium {
    font-size: 1.8rem;
  }
}

.display-hidden {
  display: none;
}

flex-column {
  display: flex;
  flex-direction: column;
}

.primary-btn {
  width: fit-content;
  background: linear-gradient(
    to right,
    $color-primary-medium,
    $color-primary-dark
  );
  color: $color-white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &.small {
    padding: 1rem 3rem;
  }

  &.medium {
    padding: 1.4rem 4.8rem;
  }
}
