*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Pretendard !important;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5

  @include respond(desktop) {
    font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5
  }

  @include respond(tablet) {
    font-size: 50%; // 1rem = 8px, 8px / 16px = 50
  }

  @include respond(phone) {
    font-size: 37.5%; // 1rem = 6px, 6px / 16px = 37.5
  }

  @include respond(small) {
    font-size: 37.5%; // 1rem = 6px, 6px / 16px = 37.5
  }
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}
