.header {
  height: 100vh;
  background-image: url("../assets/header.jpg");
  background-size: cover;
  background-position: top;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 40%;

    transform: translate(-50%, -50%);

    @include respond(tablet) {
      left: 50%;
    }

    @include respond(phone) {
      // left: 60%;
    }
  }

  &__input-box {
    margin-top: 3rem;
    width: auto;
    @include flex-horizontal-center;
  }

  &__input {
    padding: 1rem 1.2rem;
    border: none;
  }
}

.heading-primary {
  &__main {
    margin-top: 2rem;
    color: $color-primary-medium;
    font-size: 8.8rem;
    font-weight: 800;
    line-height: 1.1;
  }

  &__sub {
    margin-top: 2rem;
    color: $color-gray-medium;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    line-height: 1.6;
  }
}
