/*
z-index
nav-background: 100
nav: 200
nav-btn: 300
*/

.navigation {
  &__btn {
    z-index: 300;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;
    width: 6rem;
    cursor: pointer;
  }
  &__background {
    z-index: 100;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    height: 6rem;
    width: 6rem;

    border-radius: 50%;
    background-image: radial-gradient($color-white, $color-gray-light);
    transition: transform 0.5s;

    &.active {
      transform: scale(100);
    }
  }
  &__nav {
    z-index: 200;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    transition: all 0.5s;

    &.active {
      width: 100%;
      opacity: 1;
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__item {
    margin: 4rem;
    &.basic {
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 500;
      color: $color-gray-dark;

      text-transform: uppercase;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-primary-medium 50%
      );
      background-color: transparent;
      background-size: 220%;
      transition: all 0.5s;

      cursor: pointer;
    }

    &:hover {
      background-position: 100%;
      color: $color-white;
      font-weight: 500;
    }
  }

  &__icon {
    position: relative;
    text-align: center;
    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark;
    }
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }
  &__btn:hover &__icon::after {
    top: 1rem;
  }
}
