.project {
  &__image {
    height: 50vh;
    background-image: url("../assets/project.jpg");
    background-size: cover;
    background-position: top;
  }

  &__card-box {
    height: 31rem;
    margin: 0 20rem;
    gap: 2rem;
    transform: translateY(-50%);
  }
}
